<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<title>TreeManager</title>
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="[% request.uri_base %]/javascripts/jquery.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
/* Use Google Visualisation to display tree as a chart */
function treeChart () {
    if (!$('#tree_json').val()) { return; };
    var dataJSON = JSON.parse(decodeURIComponent($('#tree_json').val()));
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'ID');
    data.addColumn('string', 'Parent ID');
    data.addRows(dataJSON);
    var chart = new google.visualization.OrgChart(document.getElementById('tree_chart_view'));
    chart.draw(data, {allowHtml:true});
}
</script>
<script type='text/javascript'>
    google.load('visualization', '1', {packages:['orgchart']});
    google.setOnLoadCallback(treeChart);
</script>
<script>
    /* Display tabs for switching between several type of tree visualisation */
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>

</head>
<body>
<div id="wrapper">
[% content %]
</div>
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer</a> [% dancer_version %]
</div>
</body>
</html>
